{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}
{% block aside_left %}

{% endblock %}
{% block content %}

<section>
    <h1>new workday Summary </h1>

    {{ dump(workday) }}
    <a href="{{ path('workday-edit', {'workdayId': workday.id }) }}">Back</a>
    <br/>
    <a href="{{ path('workday-submit', {'workdayId': workday.id }) }}">OK!</a>

</section>
{% endblock %}
