{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}
{% block aside_left %}

{% endblock %}
{% block content %}

<section>
    <h1>new workday Summary </h1>

    {{ dump(workday) }}
    {#<a href="{{ path('new-workday-2', {'workdayId': workday.id , 'action': 'back'}) }}">Back</a>#}
    {#<br/>#}
    {#<a href="{{ path('new-workday-2', {'workdayId': workday.id , 'action': 'submit'}) }}">OK!</a>#}

</section>
{% endblock %}
