<div class="copyright">
    <div class="container">
        <span>Copyright &#169; 2016-2018 Proline. Alle Rechte vorbehalten.</span> <span><a title="MUM ProLine" class="pagelink" href="/impressum/">Impressum &amp; Datenschutz</a></span> <span id="C_T_agencymum" class="agencymum"><a title="Web &amp; Design Agentur" href="http://www.mum.lu/" target="_blank">Web Agentur <b>mum.lu</b></a></span>
    </div>
</div>