<nav id="nav">
    <ul class="navigation-left">
        <li><a href="/Historique/">{% trans %}Historique{% endtrans %}</a></li>
        <li><a href="{{ path('site') }}">{% trans %}Chantier{% endtrans %}</a></li>
        <li><a href="/Personnes/">{% trans %}Personnes{% endtrans %}</a></li>
        <li><a href="/Matériaux/">{% trans %}Matériaux{% endtrans %}</a></li>
    </ul>
    <ul class="navigation-right">
        <li><a class ="new-entry" href="/new-entry/">N</a></li>
        <li><a href="/notification/">n</a></li>
        <li><a href="/param/">p</a></li>

    </ul>
</nav>