<nav id="nav">
    <ul class="navigation-left">
        <li><a title="Historique" href="/Historique/">Historique</a></li>
        <li><a title="Chantier" href="/Chantier/">Chantier</a></li>
        <li><a title="Personnes" href="/Personnes/">Personnes</a></li>
        <li><a title="Matériaux" href="/Matériaux/">Matériaux</a></li>
    </ul>
    <ul class="navigation-right">
        <li><a class ="new-entry" title="new-entry" href="/new-entry/">N</a></li>
        <li><a title="notification" href="/notification/">n</a></li>
        <li><a title="param" href="/param/">p</a></li>

    </ul>
</nav>