/*========================================*/
/*============== VARIABLES ===============*/
/*========================================*/
/*========================================*/
/*================ MIXINS ================*/
/*========================================*/
.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
}
.overlay {
  position: relative;
}
.overlay .container {
  position: relative;
}
.overlay:before {
  display: block;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fontAwesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
/*========================================*/
/*================= TEXT =================*/
/*========================================*/
body {
  color: #216C64;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
}
a {
  color: #216C64;
  text-decoration: none;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a:hover,
a:active,
a:focus {
  color: #14413C;
  text-decoration: none;
}
strong,
b,
.text-bold {
  font-weight: 700;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
}
h1,
.h1 {
  font-size: 27px;
  margin: 0 0 30px;
  line-height: 1.7;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 45px;
    margin: 0 0 40px;
  }
}
h2,
.h2 {
  font-size: 21px;
  margin: 20px 0;
  line-height: 1.7;
}
h2:first-child,
.h2:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 30px;
  }
}
h3,
.h3 {
  font-size: 15px;
  margin: 0 0 20px;
  line-height: 1.7;
}
h3:first-child,
.h3:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 21px;
  }
}
p,
ul,
ol {
  margin: 0 0 20px;
}
/*========================================*/
/*========= BOOTSTRAP OVERRIDES ==========*/
/*========================================*/
/* Grid */
.container {
  position: relative;
  padding: 0 20px;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
}
.row > [class*="col-"] {
  padding-left: 20px;
  padding-right: 20px;
}
.row.gutter-vertical {
  margin-top: 0;
  margin-bottom: 0;
}
.row.gutter-vertical > [class*="col-"] {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row.gutter-small {
  margin-left: -10px;
  margin-right: -10px;
}
.row.gutter-small > [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.row.gutter-small.gutter-vertical {
  margin-top: 0;
  margin-bottom: 0;
}
.row.gutter-small.gutter-vertical > [class*="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.row.gutter-none {
  margin-left: 0;
  margin-right: 0;
}
.row.gutter-none > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
/* Buttons */
.btn {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  padding: 14px 30px;
  border-width: 1px;
  border-radius: 4px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn-block {
  display: block;
  text-align: center;
  white-space: normal;
}
.btn-sm {
  font-size: 12px;
  padding: 6px 12px;
}
.btn-lg {
  font-size: 18px;
  padding: 10px 20px;
}
.btn-default {
  color: #216C64;
  background-color: #fafafa;
  border-color: #e6e6e6;
}
.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default.hover,
.btn-default:active,
.btn-default.active {
  color: #fafafa;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fafafa;
  border-color: #e6e6e6;
}
.btn-default.disabled .badge,
.btn-default[disabled] .badge,
fieldset[disabled] .btn-default .badge {
  color: #fafafa;
  background-color: #216C64;
}
.btn-primary {
  color: #216C64;
  background-color: white;
  border-color: #216C64;
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary.hover,
.btn-primary:active,
.btn-primary.active {
  color: white;
  background-color: #216C64;
  border-color: #216C64;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: white;
  border-color: #216C64;
}
.btn-primary.disabled .badge,
.btn-primary[disabled] .badge,
fieldset[disabled] .btn-primary .badge {
  color: white;
  background-color: #216C64;
}
.btn-secondary {
  color: white;
  background-color: #14413C;
  border-color: #081a18;
}
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:hover,
.btn-secondary.hover,
.btn-secondary:active,
.btn-secondary.active {
  color: #14413C;
  background-color: #081a18;
  border-color: #081a18;
}
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus {
  background-color: #14413C;
  border-color: #081a18;
}
.btn-secondary.disabled .badge,
.btn-secondary[disabled] .badge,
fieldset[disabled] .btn-secondary .badge {
  color: #14413C;
  background-color: white;
}
/* Images */
.img-thumbnail,
.thumbnail {
  border: 1px solid #cccccc;
  padding: 2px;
  background: #fff;
  border-radius: 4px;
  margin: 0;
}
a:hover .img-thumbnail,
a:active .img-thumbnail,
a:focus .img-thumbnail,
a:hover .thumbnail,
a:active .thumbnail,
a:focus .thumbnail {
  border-color: #999999;
}
.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 4px;
}
/* Alerts */
.alert {
  padding: 15px;
  color: #999999;
  border: 1px solid rgba(153, 153, 153, 0.5);
  background: rgba(153, 153, 153, 0.1);
  font-weight: 400;
}
.alert a {
  color: inherit;
  font-weight: 700;
}
.alert a:hover,
.alert a:active,
.alert a:focus {
  color: inherit;
}
.alert-success {
  color: #57b03f;
  border: 1px solid rgba(87, 176, 63, 0.5);
  background: rgba(87, 176, 63, 0.1);
  font-weight: 400;
}
.alert-success a {
  color: inherit;
  font-weight: 700;
}
.alert-success a:hover,
.alert-success a:active,
.alert-success a:focus {
  color: inherit;
}
.alert-danger {
  color: #c33939;
  border: 1px solid rgba(195, 57, 57, 0.5);
  background: rgba(195, 57, 57, 0.1);
  font-weight: 400;
}
.alert-danger a {
  color: inherit;
  font-weight: 700;
}
.alert-danger a:hover,
.alert-danger a:active,
.alert-danger a:focus {
  color: inherit;
}
.alert-info {
  color: #c69214;
  border: 1px solid rgba(198, 146, 20, 0.5);
  background: rgba(198, 146, 20, 0.1);
  font-weight: 400;
}
.alert-info a {
  color: inherit;
  font-weight: 700;
}
.alert-info a:hover,
.alert-info a:active,
.alert-info a:focus {
  color: inherit;
}
.alert-warning {
  color: #c69214;
  border: 1px solid rgba(198, 146, 20, 0.5);
  background: rgba(198, 146, 20, 0.1);
  font-weight: 400;
}
.alert-warning a {
  color: inherit;
  font-weight: 700;
}
.alert-warning a:hover,
.alert-warning a:active,
.alert-warning a:focus {
  color: inherit;
}
/*========================================*/
/*================ LAYOUT ================*/
/*========================================*/
html,
body,
form {
  height: 100%;
}
html body {
  background: #fff;
}
@media only screen and (max-width: 768px) {
  html body {
    padding: 0 5px 5px 5px;
  }
}
/*========================================*/
/*================ HEADER ================*/
/*========================================*/
#header {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 90px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
@media only screen and (max-width: 768px) {
  #header {
    height: 60px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #header {
    height: 130px;
  }
}
.scrolled #header {
  height: 60px;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  .scrolled #header {
    height: 90px;
    box-shadow: none;
  }
}
/* Logo */
#logo {
  max-width: 100%;
  max-height: calc(130px - 40px);
  padding: 10px 60px 10px 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#logo a,
#logo img {
  display: inline-block;
  max-width: 100%;
  height: calc(130px - 60px);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  float: left;
}
#logo span {
  padding: 17px 0 0 85px;
  display: block;
  font-size: 30px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.scrolled #logo {
  max-height: calc(90px - 60px);
}
.scrolled #logo a,
.scrolled #logo img {
  height: 40px;
}
.scrolled #logo span {
  padding: 8px 0 0 55px;
  font-size: 21px;
}
@media only screen and (max-width: 768px) {
  #logo {
    max-height: calc(90px - 60px);
  }
  #logo a,
  #logo img {
    height: 40px;
  }
  #logo span {
    padding: 8px 0 0 55px;
    font-size: 21px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #logo {
    position: absolute;
    padding-right: 0;
  }
}
#login-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #login-menu {
    right: 0;
  }
}
#login-menu .login-btn {
  font-weight: 700;
}
/*========================================*/
/*============== NAVIGATION ==============*/
/*========================================*/
#navigation {
  /* To fix "jump" when address-bar hides on mobile devices */
  z-index: 110;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
@media only screen and (max-width: 768px), only screen and (min-width: 768px) and (max-width: 992px) {
  #navigation {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 120%;
  }
  .shownav #header {
    background: #fff;
  }
  .shownav #navigation {
    left: 0;
  }
  .shownav body:before {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #navigation {
    padding-top: calc(130px - 40px);
  }
  .scrolled #navigation {
    padding-top: calc(90px - 30px);
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.25);
  }
}
/*========================================*/
/*============ TOGGLE BUTTON =============*/
/*========================================*/
/* Toggle Button */
#navigation-toggle {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  background: rgba(33, 108, 100, 0.05);
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 120;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#navigation-toggle span {
  width: 22px;
  top: 50%;
  left: 8px;
  transform: translate(0, -1px);
}
#navigation-toggle span,
#navigation-toggle span:before,
#navigation-toggle span:after {
  display: block;
  content: "";
  background: #216C64;
  height: 2px;
  position: absolute;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#navigation-toggle span:before {
  width: 26px;
  top: -8px;
}
#navigation-toggle span:after {
  width: 18px;
  bottom: -8px;
}
#navigation-toggle:hover {
  background: rgba(33, 108, 100, 0.2);
}
#navigation-toggle:hover span,
#navigation-toggle:hover span:before,
#navigation-toggle:hover span:after {
  background: #14413C;
}
.shownav #navigation-toggle {
  background: #216C64;
}
.shownav #navigation-toggle span {
  background: transparent;
}
.shownav #navigation-toggle span:before,
.shownav #navigation-toggle span:after {
  background: white;
  width: 24px;
  top: 0;
  bottom: 0;
}
.shownav #navigation-toggle span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.shownav #navigation-toggle span:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.scrolled #navigation-toggle {
  top: 10px;
}
@media only screen and (max-width: 768px) {
  #navigation-toggle {
    top: 10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #navigation-toggle {
    display: none;
  }
}
/*========================================*/
/*=============== MAINNAV ================*/
/*========================================*/
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav ul.navigation-left {
  padding-top: 25px;
}
#nav ul li:not(:first-child) {
  border-top: 1px solid rgba(33, 108, 100, 0.1);
}
#nav ul li a {
  display: block;
  font-size: 18px;
  padding: 10px 20px;
  line-height: 20px;
}
#nav ul li a:hover,
#nav ul li a:active,
#nav ul li a:focus {
  color: #14413C;
}
#nav ul li.active a,
#nav ul li.selected a {
  color: white;
  background: #216C64;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #nav {
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    background-color: #216C64;
    height: 40px;
    margin: 0 -20px;
  }
  #nav ul {
    display: flex;
  }
  #nav ul.navigation-left {
    padding-top: 0;
    flex-direction: row;
  }
  #nav ul.navigation-left a {
    min-width: 150px;
  }
  #nav ul.navigation-right {
    flex-direction: row-reverse;
  }
  #nav ul > li {
    display: inline-block;
    border: none;
  }
  #nav ul > li a {
    color: white;
  }
  #nav .new-entry {
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #14413C;
    height: 66px;
    width: 66px;
    line-height: 20px;
    font-size: 20px !important;
    padding: 23px 0 !important;
    text-align: center;
    color: #14413C;
    margin: -13px 70px 0 0;
  }
  #nav .new-entry:hover,
  #nav .new-entry:active,
  #nav .new-entry:focus {
    background-color: #14413C;
    color: white;
  }
  .scrolled #nav .new-entry {
    margin: -18px 70px 0 0;
  }
  .scrolled #nav {
    height: 30px;
  }
  .scrolled #nav ul > li a {
    font-size: 15px;
    padding: 5px 20px;
  }
}
/*========================================*/
/*=============== SUBNAV =================*/
/*========================================*/
#subnav-toggle {
  display: block;
  color: #216C64;
  font-size: 1.2em;
  background: rgba(33, 108, 100, 0.05);
  line-height: 20px;
  padding: 10px 60px 10px 10px;
  cursor: pointer;
  margin: 0 -10px 0;
  position: relative;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#subnav-toggle:before,
#subnav-toggle:after {
  display: block;
  content: "";
  height: 2px;
  width: 16px;
  position: absolute;
  top: 20px;
  background: #216C64;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#subnav-toggle:before {
  right: 18px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#subnav-toggle:after {
  right: 8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#subnav-toggle:hover {
  color: #14413C;
  background: rgba(33, 108, 100, 0.2);
}
#subnav-toggle:hover:before,
#subnav-toggle:hover:after {
  background: #14413C;
}
.showsubnav #subnav-toggle {
  color: white;
  background: #216C64;
}
.showsubnav #subnav-toggle:before,
.showsubnav #subnav-toggle:after {
  background: white;
  top: 19px;
}
.showsubnav #subnav-toggle:before {
  right: 9px;
  width: 22px;
}
.showsubnav #subnav-toggle:after {
  content: "";
  right: 9px;
  width: 22px;
}
#subnav {
  margin-bottom: 40px;
  background: white;
  padding: 0 10px;
  border-radius: 4px;
  overflow: hidden;
  background: rgba(33, 108, 100, 0.05);
}
#subnav > ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  margin: 0;
  padding: 0;
  list-style: none;
}
#subnav > ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
  padding-bottom: 10px;
}
#subnav > ul ul a {
  display: block;
}
#subnav > ul .active > a,
#subnav > ul .selected > a {
  font-weight: bold;
}
#subnav > ul > li {
  border-top: solid 1px rgba(33, 108, 100, 0.1);
}
#subnav > ul > li:first-child {
  border-top: none;
}
#subnav > ul > li > a {
  display: block;
  font-size: 1.2em;
  padding: 10px 0;
}
#subnav.showsubnav > ul {
  max-height: 600px;
  /* For ScrollDown effect, this must be higher, than it will ever be */
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #subnav-toggle {
    display: none;
  }
  #subnav {
    background: none;
    padding: 0;
  }
  #subnav > ul {
    max-height: none !important;
  }
  #subnav > ul ul {
    display: none;
  }
  #subnav > ul ul a {
    display: block;
  }
  #subnav > ul .active ul,
  #subnav > ul .selected ul {
    display: block;
  }
}
/*========================================*/
/*=============== CONTENT ================*/
/*=======================================*/
.main-container {
  margin-top: calc(90px + 10px);
  border: 2px solid #216C64;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .main-container {
    margin-top: calc(60px + 10px);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  .main-container {
    margin-top: calc(130px - 30px);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.main {
  padding-top: calc(90px + 30px);
  padding-bottom: 90px;
}
/*========================================*/
/*=============== FORMS ==================*/
/*========================================*/
input {
  margin-bottom: 15px;
}
/*========================================*/
/*============ NOTIFICATIONS =============*/
/*========================================*/
.notifications ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: calc(40px / 2);
}
.notifications ul li {
  margin-bottom: 5px;
}
/*========================================*/
/*================ ASIDES ================*/
/*========================================*/
#aside-right {
  display: none;
}
#aside-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#aside-right ul li {
  margin-bottom: 15px;
}
#aside-right ul li a {
  display: block;
  text-align: left;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #aside-right {
    display: block;
  }
}
/*========================================*/
/*================ FOOTER ================*/
/*========================================*/
#footer {
  text-align: center;
  font-size: 12px;
  padding: 20px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1200px), only screen and (min-width: 1200px) {
  #footer .address {
    margin-bottom: 0;
  }
}
