<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WD LOG</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <!--TODO link bootstrap-->
    <!--TODO link fontawesome-->
</head>
<body>

    <header>
        <div id="logo">
            <a>
                <img/>
                <span>WD LOG - Eco Logis</span>
            </a>
        </div>
        <div id="logout">Log-out</div>
        <nav>
            <ul>
                <li><a>Historique</a></li>
                <li><a>Chantier</a></li>
                <li><a>Personnes</a></li>
                <li><a>Matériaux</a></li>
            </ul>
            <ul>
                <li><a>param</a></li>
                <li><a>notification</a></li>
                <li><a>new-entry</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">
        <aside id="aside-left">
            
        </aside>
        <div id="content">
            <h1>Bienvenue</h1>
            <h2>vous avez X notifications</h2>
            <div class="notification">
                
            </div>
        </div>
        <aside id="aside-right">
        </aside>

    </div>


</body>
</html>